<p><%= link_to t('actions.new'), { :action => :new }, :class => 'btn btn-primary' %></p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t "simple_form.labels.#{controller_name.singularize}.name" %></th>
    </tr>
  </thead>

  <tbody>
    <% @objects.each do |object| %>
      <tr id="<%= dom_id object %>">
        <td><%= link_to object, object %></td>
      </tr>
    <% end %>
  </tbody>
</table>
