<ul class="pager">
  <li class="previous">
    <%= link_to t('views.pagination.previous').html_safe, period_url(@period.next) %>
  </li>
  <li class="next">
    <%= link_to t('views.pagination.next').html_safe, period_url(@period.previous) %>
  </li>
</ul>

<table class="table table-striped table-bordered">
  <%= render 'header' %>
  <%= render @objects %>
</table>
