/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 */
body { padding-top: 60px; }
.currency.input-xlarge { width: 243px; }
.select.input-xlarge { width: 286px; }

/* As is https://github.com/fnando/paginate */
.paginate { overflow: hidden; }
.paginate li { float: left; list-style: none; }
.paginate li.previous-page:after { content: "«"; padding: 0 5px; }
.paginate li.next-page:before { content: "»"; padding: 0 5px; }
.paginate .disabled { display: none; }
